{% extends 'base.html.twig' %}

{% block title %}Créer un évènement{% endblock %}

{% block body %}

    <div class="formulaireEvent">

        <h2>Crée ton <strong>évènement sportif<strong> !</h2>

        <div class="inputWidth">
            {{ form_start( createEvent, {'attr': {'class': 'createEventCustom'}} ) }}
            {{ form_row( createEvent.title_event ) }}
            {{ form_row( createEvent.nb_places ) }}
            {{ form_row( createEvent.content_event ) }}
            {{ form_row( createEvent.date_event ) }}
            {{ form_row( createEvent.adresse ) }}
            {{ form_row( createEvent.cp ) }}
            {{ form_row( createEvent.ville ) }}
            {{ form_row( createEvent.sport ) }}
            {{ form_row( createEvent.level ) }}
            <button type="submit" class="btnRegister">Publier</button>
            {{ form_end( createEvent ) }}
        </div>
    
    </div>

{% endblock %}

