{{ form_start(form) }}
    {{ form_row(form.q) }}
    {{ form_row(form.ville) }}
    {{ form_row(form.sport) }}
    {{ form_row(form.level) }}
    <button class="btnSearch" type="submit">
        Rechercher
    </button>
{{ form_end(form) }}