{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block video %}

    <div class ="bodyAccueil">
            <video id="videoHome" alt="video sport"  autoplay loop muted width="100%">
                <source type="video/mp4" src="{{ asset('img/videoHome.mp4') }}"> 
            </video> 
    </div>

    <div class="cover">
            <h1>Trouve un événement sportif près de chez toi !</h1>
                <form  class="flex-form">
                    <input type="search" placeholder="Barre de recherche multifiltre">
                    <br>
                    <input type="submit" value="Recherche">
                </form>
                <br>

                {% if app.user %}
                    <div class="hello">Bonjour<div class="pseudo"> {{ app.user.pseudo }}</div>, prêt.e pour te depenser ? Allons-y ! <i class="fa-solid fa-face-smile"></i></div>
                {% else %}
                    <h5>Pour participer à un événement sportif <div class="registergreen"><a href="{{ path('app_register')}}" title="Inscription">Inscrivez-vous</a></div></h5>
                {% endif %}
                <br>
    </div>

    <div class="playandstop">
        <button id="lecteur">II</button>
    </div>
    

{% endblock %}

{% block body %}

<div id="bouton" onclick="bascule('formEvent');">Crée un événement</div> 
<div id="formEvent">
	{% if app.user %}
        {{ form_start( formEvent, {'attr': {'class': 'formEventCustom'}} ) }}
        {{ form_row( formEvent.title_event ) }}
        {{ form_row( formEvent.nb_places ) }}
        {{ form_row( formEvent.content_event ) }}
        {{ form_row( formEvent.date_event ) }}
        {{ form_row( formEvent.adresse ) }}
        {{ form_row( formEvent.cp ) }}
        {{ form_row( formEvent.ville ) }}
        <button type="submit" class="btnForm">Publier</button>
        {{ form_end( formEvent ) }}
	{% endif %}
</div>


    <br>

{% for event in events %}
{% if event.user is null %}
Profil supprimé
{% else %}
<a href="{{ path('show_profil', {'pseudo' : event.user.pseudo })}}">{{ event.user.pseudo }}</a><br>
{% endif %}
{{ event.titleEvent }}<br>
{{ event.dateEvent | date('d/m/Y à h:i') }}<br>
{{ event.nbPlaces }}<br>
{{ event.contentEvent }}<br>

    {% if app.user %}
        {{ event.adresse }} à {{ event.ville }} {{ event.cp }}<br>
    {% endif %}

    {% if app.user %}
        {% if event.nbPlacesRestantes != 0 %}
        <a href="{{ path('participate_event', {'idEvent' : event.id })}}">Participer</a> ({{ event.participants | length }}) 
        {% else %}
        Complet
        {% endif %}
        <a href="{{ path('show_event', {'id': event.id}) }}">Détails</a>
    {% endif %}
    {# SINON mettre un bouton participer et details grisé si il est pas connecter #}

<br><br>

{% endfor %}



{# {% for event in futurevents %}
<a href="{{ path('show_profil', {'pseudo' : event.user.pseudo })}}">{{ event.user.pseudo }}</a><br>
{{ event.titleEvent }}<br>
{{ event.dateEvent | date('d/m/Y à h:i') }}<br>
{{ event.nbPlaces }}<br>
{{ event.contentEvent }}<br>
{% endfor %} #}

<hr>

{% for event in presentevents %}
{% if event.user is null %}
Profil supprimé
{% else %}
<a href="{{ path('show_profil', {'pseudo' : event.user.pseudo })}}">{{ event.user.pseudo }}</a><br>
{% endif %}
{{ event.titleEvent }}<br>
{{ event.dateEvent | date('d/m/Y à h:i') }}<br>
{{ event.nbPlaces }}<br>
{{ event.contentEvent }}<br>
{% endfor %}

<hr>

{# {% for event in pastevents %}
<a href="{{ path('show_profil', {'pseudo' : event.user.pseudo })}}">{{ event.user.pseudo }}</a><br>
{{ event.titleEvent }}<br>
{{ event.dateEvent | date('d/m/Y à h:i') }}<br>
{{ event.nbPlaces }}<br>
{{ event.contentEvent }}<br>
{% endfor %} #}

{% endblock %}
