{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block video %}

    <section class="home">
        <video id="videoHome" alt="video sport"  autoplay loop muted width="100%">
            <source type="video/mp4" src="{{ asset('img/videoHome.mp4') }}"> 
        </video> 

        <div class="cover">
            <h2>Trouve un événement sportif près de chez toi !</h2>
                <form class="customSearch">
                    {% include 'event/_filter.html.twig' with {form: form} only %}
                </form>
                <br>
                {% if app.user %}
                    <div class="hello">Bonjour<div class="pseudo"> {{ app.user.pseudo }}</div>, prêt.e pour te depenser ? Allons-y ! <i class="fa-solid fa-face-smile"></i></div>
                {% else %}
                    <h5>Pour participer à un événement sportif <div class="registergreen"><a href="{{ path('app_register')}}" title="Inscription">Inscrivez-vous</a></div></h5>
                {% endif %}
                <br>
        </div>

        <div class="playandstop">
            <button id="lecteur">II</button>
        </div>
    </section>
    

{% endblock %}

{% block body %}
<div class="btnHigh"><i class="fa-solid fa-arrow-up"></i></div>

{% if app.user %}
    <div id="bouton" onclick="bascule('formEvent');">Crée un événement</div> 
    <div id="formEvent">
        {% if app.user %}
            {{ form_start( formEvent, {'attr': {'class': 'formEventCustom'}} ) }}
            {{ form_row( formEvent.title_event ) }}
            {{ form_row( formEvent.nb_places ) }}
            {{ form_row( formEvent.content_event ) }}
            {{ form_row( formEvent.date_event ) }}
            {{ form_row( formEvent.adresse ) }}
            {{ form_row( formEvent.cp ) }}
            {{ form_row( formEvent.ville ) }}
            {{ form_row( formEvent.sport ) }}
            {{ form_row( formEvent.level ) }}
            <button type="submit" class="btnForm">Publier</button>
            {{ form_end( formEvent ) }}
        {% endif %}
{% endif %}
</div>


    <br>
    

{% for event in events %}
{% include 'event/_card.html.twig' with {event: event} only %}
{% endfor %}



{# {% for event in futurevents %}
<a href="{{ path('show_profil', {'pseudo' : event.user.pseudo })}}">{{ event.user.pseudo }}</a><br>
{{ event.titleEvent }}<br>
{{ event.dateEvent | date('d/m/Y à h:i') }}<br>
{{ event.nbPlaces }}<br>
{{ event.contentEvent }}<br>
{% endfor %} #}



{# {% for event in presentevents %}
{% if event.user is null %}
Profil supprimé
{% else %}
<a href="{{ path('show_profil', {'pseudo' : event.user.pseudo })}}">{{ event.user.pseudo }}</a><br>
{% endif %}
{{ event.titleEvent }}<br>
{{ event.dateEvent | date('d/m/Y à h:i') }}<br>
{{ event.nbPlaces }}<br>
{{ event.contentEvent }}<br>
{% endfor %} #}



{# {% for event in pastevents %}
<a href="{{ path('show_profil', {'pseudo' : event.user.pseudo })}}">{{ event.user.pseudo }}</a><br>
{{ event.titleEvent }}<br>
{{ event.dateEvent | date('d/m/Y à h:i') }}<br>
{{ event.nbPlaces }}<br>
{{ event.contentEvent }}<br>
{% endfor %} #}

{% endblock %}
