{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block video %}

    <section class="home">
        <video id="videoHome" alt="video sport"  autoplay loop muted width="100%">
            <source type="video/mp4" src="{{ asset('img/videoHome.mp4') }}"> 
        </video> 

        <div class="cover">
            <h2>Trouve un événement sportif près de chez toi !</h2>
                {% include 'home/_filter.html.twig' with {form: searchEvent} only %}
                <br>
                {% if app.user %}
                    <div class="hello">Bonjour<div class="pseudo"> {{ app.user.pseudo }}</div>, prêt.e pour te depenser ? Allons-y ! <i class="fa-solid fa-face-smile"></i></div>
                {% else %}
                    <h5>Pour participer à un événement sportif <div class="registergreen"><a href="{{ path('app_register')}}" title="Inscription">Inscrivez-vous</a></div></h5>
                {% endif %}
                <br>
        </div>

        <div class="playandstop">
            <button id="lecteur">II</button>
        </div>
    </section>
    

{% endblock %}

{% block body %}
<div class="btnHigh"><i class="fa-solid fa-arrow-up"></i></div>

<!-- --------- CREE UN EVENEMENT ---------- -->

{# {% if app.user %}
    <div id="bouton" onclick="bascule('createEvent');">Crée un événement</div> 
    <div id="createEvent">
        {% if app.user %}
            {{ form_start( createEvent, {'attr': {'class': 'createEventCustom'}} ) }}
            {{ form_row( createEvent.title_event ) }}
            {{ form_row( createEvent.nb_places ) }}
            {{ form_row( createEvent.content_event ) }}
            {{ form_row( createEvent.date_event ) }}
            {{ form_row( createEvent.adresse ) }}
            {{ form_row( createEvent.cp ) }}
            {{ form_row( createEvent.ville ) }}
            {{ form_row( createEvent.sport ) }}
            {{ form_row( createEvent.level ) }}
            <button type="submit" class="btnForm">Publier</button>
            {{ form_end( createEvent ) }}
        {% endif %}
{% endif %}
</div> #}
    
    {% for event in events %}
        {% include 'home/_card.html.twig' with {event: event} only %}
    {% endfor %}
    
<section class="home-section-2">
    <div>
        <div>
            <img src="">
        </div>
        <h2>Lorem</h2>
        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500,</p>
    </div>
    <div>
        <div>
            <img src=""> 
        </div>
        <h2>Lorem</h2>
        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500,</p>
    </div>
    <div>
        <div>
            <img src=""> 
        </div>
        <h2>Lorem</h2>
        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500,</p>
    </div>
</section>

<section class="first-section side-margin">
		<img class="img-kifuz img-grid" src="/assets/img1.png" alt="Images KifuzSamuz">
		<article>
			<h2 class="title-size orange">L'art du Fusing pour tous</h2>
			<p class="text-size">Le but de l'Association KifuzSamuz
				<br>
				est de permettre à tous les publics
				<br>
				d’entrer dans la créativité
				<br>
				et de développer leur propre démarche de création
				<br>
				à travers des ateliers d'initiation
				<br>
				à l'Art du Fusing.
			</p>
			<a href="#">
				<button class="button">Découvrir nos ateliers</button>
			</a>
		</article>
	</section>

{% endblock %}
