{% extends 'base.html.twig' %}

{% block title %}HAccueil{% endblock %}

{% block body %}

    {{ form_start( formEvent ) }}
    {{ form_widget( formEvent ) }}
    <button type="submit" class="btn">Enregistrer</button>
    {{ form_end( formEvent ) }}

{% for event in events %}
{{ event.user.pseudo }}<br>
{{ event.titleEvent }}<br>
{{ event.dateEvent | date('d/m/Y à h:i') }}<br>
{{ event.nbPlaces }}<br>
{{ event.contentEvent }}<br>

{{ event.adresse }} à {{ event.ville }} {{ event.cp }}<br>

{% if event.nbPlacesRestantes != 0 %}
<a href="{{ path('participate_event', {'idEvent' : event.id })}}">Participer</a> ({{ event.participants | length }}) 
{% else %}
   Complet
{% endif %}
<a href="{{ path('show_event', {'id': event.id}) }}">Commenter</a>

<br><br>

{% endfor %}

{% endblock %}
