{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block video %}

    <section class="home">
        <video id="videoHome" alt="video sport"  autoplay loop muted width="100%">
            <source type="video/mp4" src="{{ asset('img/videoHome.mp4') }}"> 
        </video> 

        <div class="cover">
            <div class="playandstop">
                <button id="lecteur">II</button>
            </div>
            <h2>Trouve un <strong>événement sportif</strong> près de chez toi !</h2>
                {% include 'home/_filter.html.twig' with {form: searchEvent} only %}
                <br>
                {% if app.user %}
                    <div class="hello">Bonjour<div class="pseudo"> {{ app.user.pseudo }}</div>, prêt.e pour te depenser ? Allons-y ! <i class="fa-solid fa-face-smile"></i></div>
                {% else %}
                    <h5>Pour participer à un événement <strong>sportif</strong> <div class="registergreen"><a href="{{ path('app_register')}}" title="Inscription">Inscrivez-vous</a></div></h5>
                {% endif %}
                <br>
        </div>
    </section>


{% endblock %}

{% block body %}
<div class="btnHigh"><i class="fa-solid fa-arrow-up"></i></div>
    
    <div class ="eventsCard">
        {% for event in events %}
            {% include 'home/_card.html.twig' with {event: event} only %}
        {% endfor %}
    </div>
    
<section class="home-section-2">
    <div>
        <h2>Lorem ipsum</h2>
            <img src="{{ asset('img/home1.png') }}" alt ="Cyclisme" class="pictureHome">
        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500.</p>  
    </div>
    <div>
        <h2>Lorem ipsum</h2>
            <img src="{{ asset('img/home2.png') }}" alt="Natation" class="pictureHome">
        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500.</p>
    </div>
    <div>
        <h2>Lorem ipsum</h2>
            <img src="{{ asset('img/home3.png') }}" alt="Escalade" class="pictureHome"> 
        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500.</p>
    </div>
</section>

{% endblock %}
