{% extends 'base.html.twig' %}

{% block title %}Evement{% endblock %}

{% block body %}

{# faire une notation etoile?? #}

{{event.titleEvent}}<br>
{{ event.dateEvent | date('d/m/Y à h:i') }}<br>
{{event.contentEvent}}<br>
<p>Nombre de place : {{event.NbPlaces}}</p>
<p>Nombre de place disponible : {{event.NbPlacesRestantes}}</p>

PARTICIPANT :
{% for participant in event.participants %}
    {{ participant.pseudo }} <br>
{% endfor %}



    {{ form_start( formComment ) }}
    {{ form_widget( formComment ) }}
    <button type="submit" class="btn">Enregistrer</button>
    {{ form_end( formComment ) }}

{% if event.comments | length > 0 %}
    {% for comment in event.comments %}
    {{ comment.users.pseudo }}<br>
    {{ comment.contentComment }}<br>
    {{comment.createComment | date('d/m/Y') }}<br>
       
    {% endfor %}

{% endif %}

{% endblock %}
