{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
    <h1>Inscription</h1>
    <h5>1. Quel sport voulez-vous pratiquer ou pratiquez-vous ?</h5>
    {{ form_row(registrationForm.sport) }}
    <h5>2. Pour bien vous correspondre nous avons besoin d'informations</h5>
    {{ form_row(registrationForm.sex) }}
    {{ form_row(registrationForm.birthday) }}
    {{ form_row(registrationForm.pseudo) }}
    <h5>3. Presque terminé. Comment voulez-vous vous connecter?</h5>
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.password, {
        label: 'Password'
    }) }}
    {{ form_row(registrationForm.agreeTerms) }}

    <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
