{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

        <div class="container-edit-profil"></div>

        {{ form_start(editProfilForm) }}
            {{ form_row(editProfilForm.bio) }}
            {{ form_row(editProfilForm.picture_profil) }}
            {{ form_row(editProfilForm.sport) }}
            <button type="submit" class="btn btn-lg btn-dark">Enregistrer</button>
        {{ form_end(editProfilForm) }}


{% endblock %}
