{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

<div class="editHover">
    <a href="{{ path('edit_profil', {'id' : app.user.id})}}">Modifier profil</a><br>
</div>
<div class="showEventUser">
    <a href="{{ path('create_event', {'id': app.user.id}) }}">Mes évènements créés</a><br>
</div>

<div class="profile-body">
        <div class="photo">
            <img src="{{ asset('uploads/photoprofil/' ~ user.pictureProfil) }}" class="image--cover">
        </div>
        <div class="profile">
            <div class="info"> 
                {{ user.pseudo }} ({{ user.sex }}) / {{ user.birthday | date('d/m/Y') }} / <i class="fas fa-map-marker-alt"></i> VILLE 
            </div>

                <h6> BIOGRAPHIE </h6>
                    <div class="content">{{ user.bio}}</div>
        
                <h6>Mes Sports</h6>
                    <div class="content">
                        {% for sport in user.sport %}
                            {{ sport.titleSport }} <br>
                        {% endfor %}
                    </div>
            
            
                <h6>Evènements à venir</h6>

                {% for ef in eventFutur %}
                    
                                                       <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ ef.titleEvent }}</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">{{ ef.dateEvent | date('d/m/Y à h:i') }}<br></h6>
                                            <p class="card-text">{{ ef.contentEvent }}<br></p>
                                            <a href="#" class="card-link">{{ ef.ville }}</a>
                                            <a href="{{ path('show_event', {'id': ef.id}) }} class="card-link" ">Détails</a>
                                        </div>
                                        <a class="cardDetail" href="{{ path('show_event', {'id': ef.id}) }}">Détail</a>
                                    </div> 
                                    {% endfor %}
                            </div>

                                      <h6>Evènements passés</h6>

                {% for ep in eventPast %}
                    
                                                       <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ ep.titleEvent }}</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">{{ ep.dateEvent | date('d/m/Y à h:i') }}<br></h6>
                                            <p class="card-text">{{ ep.contentEvent }}<br></p>
                                            <a href="#" class="card-link">{{ ep.ville }}</a>
                                            <a href="{{ path('show_event', {'id': ep.id}) }} class="card-link" ">Détails</a>
                                        </div>
                                        <a class="cardDetail" href="{{ path('show_event', {'id': ep.id}) }}">Détail</a>
                                    </div> 
                                    {% endfor %}
                            </div>     

                                                                  <h6>Aujourd'hui</h6>

                {% for en in eventNow %}
                    
                                                       <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ en.titleEvent }}</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">{{ en.dateEvent | date('d/m/Y à h:i') }}<br></h6>
                                            <p class="card-text">{{ en.contentEvent }}<br></p>
                                            <a href="#" class="card-link">{{ en.ville }}</a>
                                            <a href="{{ path('show_event', {'id': en.id}) }} class="card-link" ">Détails</a>
                                        </div>
                                        <a class="cardDetail" href="{{ path('show_event', {'id': en.id}) }}">Détail</a>
                                    </div> 
                                    {% endfor %}
                            </div>   

                
        </div>
    </div>
    <br>

{% endblock %}