{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

        <div class="btnProfil">
            <button type="button" class="btn btn-secondary"><a href="{{ path('edit_profil', {'id' : app.user.id})}}">Modifier profil</a></button>
            <button type="button" class="btn btn-warning"><a href="{{ path('event_user', {'id': app.user.id}) }}">Mes évènements créés</a></button>
            <button type="button" class="btn btn-primary">
            <a href ="{{ path('app_follow', {'id': app.user.id}) }}">Mes abonnements</a> <span class="badge text-bg-secondary">({{ user.follow | length }})</span>
            </button>
        </div>

        <section class="container-profil">
            <div class="photo">
                <img src="{{ asset('uploads/photoprofil/' ~ user.pictureProfil) }}" class="pictureProfil" alt="Photo de profil">
                <div class="userPseudo">{{ user.pseudo }}</div>
            </div>

            <div class="photo">
                <h6><strong>Mes sports</strong></h6>
                <ul>
                {% for sport in user.sport %}
                    <li>{{ sport.titleSport }}</li>
                {% endfor %}
                </ul>
            </div>
        </section>

        <h3>Les évènements sportifs</h3>

        <section class="container-profil-event">
            <div class="event-now">
                <h5><strong>Aujourd'hui</strong></h5>
                    {% for en in eventNow %}
                        <div class ="userTitre"><strong>{{ en.titleEvent }}</strong></div>
                        <div class ="userSport"><em>{{ en.sport.titleSport }}</em></div>
                        <div class="userDateEvent"><i class="fa-solid fa-calendar"></i> {{ en.dateEvent | date('d/m/Y à h:i') }}</div>
                        <a class="userDetail" href="{{ path('show_event', {'id': en.id}) }}">Détail</a>
                        <br><br>
                    {% endfor %}
            </div>  

            <div class="event-now">
                <h5><strong>A venir</strong></h5>
                    {% for ef in eventFutur %}
                        <div class ="userTitre"><strong>{{ ef.titleEvent }}</strong></div>
                        <div class ="userSport"><em>{{ ef.sport.titleSport }}</em></div>
                        <div class="userDateEvent"><i class="fa-solid fa-calendar"></i> {{ ef.dateEvent | date('d/m/Y à h:i') }}</div>
                        <a class="userDetail" href="{{ path('show_event', {'id': ef.id}) }}">Détail</a>
                        <br><br>
                    {% endfor %}
            </div>

            <div class="event-now">
                <h5><strong>Passé</strong></h5>
                    {% for ep in eventPast %}
                        <div class ="userTitre"><strong>{{ ep.titleEvent }}</strong></div>
                        <div class ="userSport"><em>{{ ep.sport.titleSport }}</em></div>
                        <div class="userDateEvent"><i class="fa-solid fa-calendar"></i> {{ ep.dateEvent | date('d/m/Y à h:i') }}</div>
                        <a class="userDetail" href="{{ path('show_event', {'id': ep.id}) }}">Détail</a>
                        <br><br>
                    {% endfor %}
            </div>
        </section>

{% endblock %}