{% extends 'base.html.twig' %}

{% block title %}{{ user.pseudo }}{% endblock %}

{% block body %}

     <div class="btnProfil">
     {% if app.user in user.follow %}
     <button type="button" class="btn btn-primary"><a href="{{ path('delete_follow', {'idUser' : user.id })}}">Se désabonner</a></button>
            {% else %}
            <button type="button" class="btn btn-primary"><a href="{{ path('user_follow', {'idUser' : user.id})}}">S'abonner</a></button>
             {% endif %}
    </div>

        <section class="container-profil">
            <div class="photo">
                <img src="{{ asset('uploads/photoprofil/' ~ user.pictureProfil) }}" class="pictureProfil" alt="Photo de profil">
                <div class="userPseudo">{{ user.pseudo }}</div>
            </div>

            <div class="photo">
                <h6><strong>Ces sports</strong></h6>
                <ul>
                {% for sport in user.sport %}
                    <li>{{ sport.titleSport }}</li>
                {% endfor %}
                </ul>
            </div>

            <div class="photo">
                <h6><strong>Biographie</strong></h6>
                    <div class="userBIO">{{ user.bio}}</div>
            </div>
        </section>

        <h3>Les évènements sportifs de {{ user.pseudo }}</h3>

        <section class="container-profil-event">
            <div class="event-now">
                    {% for event in events %}
                        <div class ="userTitre"><strong>{{ event.titleEvent }}</strong></div>
                        <div class ="userSport"><em>{{ event.sport.titleSport }}</em></div>
                        <div class="userDateEvent"><i class="fa-solid fa-calendar"></i> {{ event.dateEvent | date('d/m/Y à h:i') }}</div>
                        <a class="userDetail" href="{{ path('show_event', {'id': event.id}) }}">Détail</a>
                        <br><br>
                    {% endfor %}
            </div>  
        </section>

{% endblock %}