{% extends 'base.html.twig' %}

{% block title %}{{ user.pseudo }}{% endblock %}

{% block body %}

    <div class="profile-body">
        <div class="photo">
            <img src="{{ asset('uploads/photoprofil/' ~ user.pictureProfil) }}" class="image--cover">
        </div>
        <div class="profile">
            <div class="info"> 
                {{ user.pseudo }} ({{ user.sex }}) / {{ user.birthday | date('d/m/Y') }} / <i class="fas fa-map-marker-alt"></i> VILLE 
            </div>

                <h6> BIOGRAPHIE </h6>
                    <div class="content">{{ user.bio}}</div>
        
                <h6>Mes Sports</h6>
                    <div class="content">
                        {% for sport in user.sport %}
                            {{ sport.titleSport }} <br>
                        {% endfor %}
                    </div>
            
            
                <h6>Mes Evenements</h6>

                    <div class="container">
                    {% for event in events %}
                        <div class="row">
                            <div class="col">
                                    <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ event.titleEvent }}</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">{{ event.dateEvent | date('d/m/Y à h:i') }}<br></h6>
                                            <p class="card-text">{{ event.contentEvent }}<br></p>
                                            <a href="#" class="card-link">{{ event.ville }}</a>
                                            <a href="{{ path('show_event', {'id': event.id}) }} class="card-link" ">Détails</a>
                                        </div>
                                    </div> 
                                    {% endfor %}
                            </div>

                        </div>
                    </div>
        </div>
    </div>

{% endblock %}