                  
{% extends 'base.html.twig' %}

{% block title %}Mes évènements{% endblock %}

{% block body %}


    <div class="event-create">
        <h5><strong>Mes évènements</strong></h5>
            {% for event in events %}
                <div class ="userTitre"><strong>{{ event.titleEvent }}</strong></div>
                <div class ="userSport"><em>{{ event.sport.titleSport }}</em></div>
                <div class="userDateEvent"><i class="fa-solid fa-calendar"></i> {{ event.dateEvent | date('d/m/Y à h:i') }}</div>
                <a href="{{ path('show_event', {'id': event.id}) }}"><button type="button" class="btn btn-warning">Détail</button></a>
                <a href="{{ path('delete_event', {'id': event.id}) }}" class="card-link"><button type="button" class="btn btn-danger">Supprimer</button></a>
        
                <br><br>
            {% endfor %}
    </div>

{% endblock %}