<!DOCTYPE html>
<html>
	<head>

	<script src="/tarteaucitron/tarteaucitron.js"></script>

        <script type="text/javascript">
        tarteaucitron.init({
    	  "privacyUrl": "politiquedeconfidentialite", /* Privacy policy url */
          "bodyPosition": "bottom", /* or top to bring it as first element for accessibility */

    	  "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
    	  "cookieName": "tarteaucitron", /* Cookie name */
    
    	  "orientation": "middle", /* Banner position (top - bottom) */
       
          "groupServices": false, /* Group services by category */
          "serviceDefaultState": "wait", /* Default state (true - wait - false) */
                           
    	  "showAlertSmall": false, /* Show the small banner on bottom right */
    	  "cookieslist": false, /* Show the cookie list */
                           
          "closePopup": false, /* Show a close X on the banner */

          "showIcon": true, /* Show cookie icon to manage cookies */
          //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
          "iconPosition": "BottomLeft", /* BottomRight, BottomLeft, TopRight and TopLeft */

    	  "adblocker": false, /* Show a Warning if an adblocker is detected */
                           
          "DenyAllCta" : true, /* Show the deny all button */
          "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
          "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
                           
    	  "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

    	  "removeCredit": false, /* Remove credit link */
    	  "moreInfoLink": true, /* Show more info link */

          "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
          "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */

    	  //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
                          
          "readmoreLink": "", /* Change the default readmore link */

          "mandatory": true, /* Show a message about mandatory cookies */
          "mandatoryCta": true /* Show the disabled accept button when mandatory on */
        });
        </script>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>
			{% block title %}Accueil{% endblock %}
		</title>
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow">
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">			<link rel="stylesheet" href="{{ asset('css/style.css') }}">
			<link rel="shortcut icon" href="{{ asset('favicon/favicon.ico') }}">
			<link rel="icon" type="image/gif" href="{{ asset('favicon/animated_favicon1.gif') }}">
			{% block stylesheets %}{% endblock %}
	</head>

	<header>
		<nav>
			<h1><a href="{{ path('app_home')}}" title="COSPO">COSPO</a></h1>
				<!-- NAVBAR -->
					<div class="mynav">
						<ul>
				{% if app.user %}
							<li class ="user"><a href="{{ path('app_home', {'id': app.user.id }) }}" title="Evenement" class="orange"><i class="fa-sharp fa-solid fa-house"></i></a>
							<li class ="user"><a href="{{ path('app_profil', {'id': app.user.id }) }}" title="Profil" class="white"><i class="fa-solid fa-user"></i></a></li>
							<li class ="user"><a href="{{ path('edit_register', {'id' : app.user.id})}}" title="Compte" class="white"><i class="fa-solid fa-gear"></i></a></li>
							<li class ="user"><a href="{{ path('app_logout')}}" title="Deconnexion" class="red"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
						{% else %}
							<li><a href="{{ path('app_register')}}" title="Inscription" class="registerHover">Inscription</a></li>
							<li><a href="{{ path('app_login')}}" title="Connexion" class="loginHover">Connexion</a></li>
				{% endif %}
						</ul>
					</div>
				<!-- FIN NAVBAR -->

				<!-- MENU BURGER -->
				{% if app.user %}
					<div id="mySidenav" class="sidenav">
  					<a id="closeBtn" href="#" class="close">×</a>
  						<ul>
							<li><a href="{{ path('app_home', {'id': app.user.id }) }}" title="Accueil" class="orange">Accueil</i></a></li>
							<li><a href="{{ path('app_profil', {'id': app.user.id }) }}" title="Profil" class="white">Profil</a></li>
							<li><a href="{{ path('edit_register', {'id' : app.user.id})}}" title="Compte" class="white">Compte</a></li>
							<li><a href="{{ path('app_logout')}}" title="Deconnexion" class="red">Déconnexion</a></li>
  						</ul>
					</div>

					<a href="#" id="openBtn">
						<span class="burger-icon">
							<span></span>
							<span></span>
							<span></span>
						</span>
					</a>
				{% endif %}
				<!-- FIN MENU BURGER -->
		</nav>
  	</header>

	<body>
		<div class="video">{% block video %}{% endblock %}</div>
		<div class="wrapper">{% block body %}{% endblock %}</div>

		 <footer>
		 	<div class="footerContainer">
                <div class="logo">
                    <a href="{{ path('app_home')}}" title="COSPO">COSPO</a>
                </div>
                <div id="listFooter">
                    <ul>
                    	<li> <a href="" alt="Contact">Contact</a></li>
                        <li> <a href="" alt="Mentions légales">Mentions légales</a></li>
                        <li> <a href="{{ path('app_cgu') }}">Condition générale d'utilisation </a></li>  
                    </ul>
                </div>
                <div class="reseau">
                    <a target="_blank" href="https://www.facebook.com/" alt="Facebook"><i class="fa-brands fa-facebook"></i> Facebook</a>
                </div>
                <div id="copyright">
                	© Cospo by Tiffany
                </div>
			</div>
        </footer>

		{% block javascripts %}{% endblock %}
			<script src="{{asset('js/script.js') }}"></script>
			<script src="https://kit.fontawesome.com/81ab4e445e.js" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
	</body>

</html>